[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
[submodule "themes/stip"]
	path = themes/stip
	url = https://github.com/EmielH/stip-hugo.git
[submodule "public"]
	path = public
	url = https://github.com/vicever/vicever.github.io.git
	branch = master
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
